.card {
    position: relative;

    margin: 15px 0;
    padding: 11px 30px;

    max-width: 1170px;
    width: 100%;

    background: #FFFFFF;
    border: 1px dashed rgba(162, 162, 162, 0.6);
    border-radius: 5px;

    transition: 0.2s linear;
    animation: 1s loading;
}
.card:hover {
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.4));
}

@keyframes loading {
    0% {
        transform: translate(0,-10px);
        opacity: 0.0;
    }
    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.name {
    margin-bottom: 9px;

    font-family: 'Montserrat-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}
.title {
    margin-bottom: 5px;

    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #1F4766;
}
.value {
    margin-bottom: 5px;

    font-family: 'Montserrat-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}
.column {
    margin-left: auto;
    width: 842px;
}

.favorites {
    position: absolute;
    top: 16px;
    right: 30px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 13px 0 11px;

    width: 240px;
    height: 40px;

    font-family: 'Montserrat-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
    background: #00A3FF;

    border-radius: 5px;
    border: 1px solid rgba(162, 162, 162, 0.6);

    transition: 0.2s linear;
    cursor: pointer;
}
.favorites:hover {
    background: #008BDA;
}
.save {
    justify-content: left;

    background: transparent !important;
    border: transparent;
    color: #00CA51;
    transition: 0.3s;
}
.save > svg {
    margin-right: 10px;
    fill: #00CA51;
}